body {
  background: #1b1b1b;
  color: #007aff;
  display: flex;
  justify-content: center;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  background: #ffffdd;
  padding: 30px;
  margin: 10%;
  border-style: solid;
  border-radius: 20px;
  /* max-width: fit-content; */
}
.result-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1.5%;
}
input[name="output"] {
  font-display: flex;
  font-size: larger;
  flex: 3 1 50px;
  border-radius: 5px;
  border-style: thick;
  text-align: center;
}
label[for="output"] {
  flex: 1 3 auto;
}

.input-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  flex-basis: 40px;
  justify-content: space-around;
}
.inputs {
  width: 30%;
  height: 50px;
  text-align: center;
  border-radius: 20px;
  box-shadow: black 2px 2px 1;
}

.btns-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 18px;
  row-gap: 12px;
  max-width: 294px;
}
.btns-wrapper > * {
  flex-basis: 60px;
  height: 60px;
  background-color: #f5ce9f;
  border-radius: 5px;
  border-style: none;
  font-size: large;
  font-weight: bolder;
}
.btns-utility {
  background-color: #ffe3aa;
}
.btns-operations {
  background-color: #eaaa5d;
}
#equal{
  background-image: linear-gradient(180deg, #F1950E 5%, #FED969 75%);
}
