body {
  background: #1b1b1b;
  color: #007aff;
  display: flex;
  justify-content: center;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
  background: greenyellow;
  padding: 30px;
  margin: 10%;
  border-style: solid;
  border-radius: 20px;
}
.result-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1.5%;
}
input[name="output"] {
  font-display: flex;
  font-size: larger;
  flex: 3 1 50px;
  border-radius: 5px;
  border-style: thick;
  text-align: center;
}
label[for="output"] {
  flex: 1 3 auto;
}

.input-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  flex-basis: 40px;
  justify-content: space-around;
}
.inputs {
  width: 30%;
  height: 50px;
  text-align: center;
  border-radius: 20px;
  box-shadow: black 2px 2px 1;
}

.operations {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btns {
  border-radius: 5px;
  border-style: dotted;
  flex-basis: 50px;
  height: 70%;
  font-size: x-large;
}
